.challenge-overview {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  height: 600px;
  overflow-y: scroll;
  position: relative;
}

.challenge-overview::-webkit-scrollbar {
  display: none;
}

.challenge-days {
  width: 150px;
}

.commitments-container {
  width: 100%;
  display: flex;
  flex-direction: row; 
  
}

.toggle-create-form-button {
  color: black;
  height: 50px;
}

.table-header {
  background-color:rgb(104,194,50);
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
