.time-machine {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
  width: 200px;
}

.time-machine input {
  margin: 2px;
  height: 20px;
  border: 2px;
  width: 150px;
}
.time-machine-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.time-machine-button-container button {
  background-color:rgb(134,194,50);
  color: white;
  margin: 2px;
  padding: 2px;
  width: 100px;
}
